.hero::before {
  background-image: url("../img/gallery/gallery.jpg");
}

.services__header {
  background-image: url("../img/gallery/resturant/ResturantOne.png");
  padding-bottom: 200px;
  padding-top: 150px;
}

.sections {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 42px 5%;
  /* gap: 11%; */
  border-radius: 24px;
  position: absolute;
  width: 91.7%;
  top: -109px;
  left: 5%;
  z-index: 3;
  background-color: white;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;

  color: #a3a3a3;
  font-size: 2rem;
  transition: var(--transtion);
}

.section--selected {
  color: rgba(0, 78, 107, 1);
}

.circles {
  display: none;
  background-color: #f0f0f0;
}

.circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(0, 78, 107, 0.5);
  transition: var(--transtion);
}

.circle--active {
  background-color: rgb(0, 78, 107);
}

@media screen and (max-width: 800px) {
  .services__header {
    padding-top: 52px;
  }

  .sections {
    position: static;
    top: 0;
    left: 0;
    border-radius: 0;
    width: 100%;
    background-color: #f0f0f0;
    padding-left: 9%;
    padding-right: 9%;
  }

  .section {
    border-radius: 8px;
    background: #fff;
    box-shadow: 4px 4px 23px 0px rgba(0, 0, 0, 0.1);
    padding: 8px;
    font-size: 1rem;
    gap: 8px;
    width: 72px;
    /* height: 56px; */
  }

  .section svg {
    width: 30px;
    height: 30px;
  }

  .circles {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding-bottom: 52px;
  }
}

@media screen and (max-width: 600px) {
  .sections-container {
    overflow-x: hidden;
  }
  .sections {
    min-width: 520px;
    justify-content: center;
    align-items: center;
    padding: 0;
    padding-top: 32px;
    padding-bottom: 25px;
    gap: 25px;
  }

  .section svg {
    width: 21px;
    height: 21px;
  }
}
/* Gallery */
.gallery {
  background-color: #e5e5e5;
  padding-bottom: 116px;
  text-align: center;
}

.photos {
  position: relative;
  top: -120px;
  left: 0;
  z-index: 1;
  margin: 0 5%;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

#first-photo {
  grid-column: 1/4;
  height: 318px;
}

#video {
  grid-column: 2/4;
}

.photo {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 8px;
}

@media screen and (max-width: 800px) {
  .services__header {
    padding-bottom: 90px;
  }

  .photos {
    top: -60px;
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
  }

  #first-photo {
    grid-column: 1/3;
    height: 162px;
  }

  #video {
    grid-column: 1/3;
  }
}
/* End Gallery Styles */
