* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #004e6b;
  --color-secondary: #282828;
  --color-red: #e81313;
  --color-success: #65bf57;
  --transtion: all 0.3s linear;
  --font-family: "Montserrat", sans-serif;
}
html {
  font-size: 62.5%;
  /* text-align: right;
  direction: rtl; */
}

body {
  font-family: var(--font-family);
  /* filter: blur(4px); */
}

button {
  background: none;
  cursor: pointer;
  border: none;
  font-family: var(--font-family);
}

input {
  border: 0;
  outline: 0;
  font-family: var(--font-family);
  background-color: transparent;
}

select {
  border: 0;
  outline: 0;
  font-family: var(--font-family);
}

ul {
  list-style: none;
}

.btn--submit {
  color: white;
  background: var(--color-primary);
  transition: var(--transtion);
}

.btn--submit:hover {
  background-color: rgb(0, 78, 107, 0.9);
}

.btn--outline {
  background-color: transparent;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  transition: var(--transtion);
}

.btn--outline:hover {
  color: white;
  background-color: var(--color-primary);
}

.btn--see--more {
  padding: 5px 2.5%;
  font-weight: 600;
  font-size: 2.2rem;
  border-radius: 6px;
}

@media screen and (max-width: 700px) {
  .btn--see--more {
    display: none;
  }
}

.blur {
  filter: blur(10px);
  /* background-color: rgba(0, 0, 0, 0.5); */
}

/* .blur::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-color: #000;
  fill: rgba(0, 0, 0, 0.5);

} */

/* Hero styles */
.hero {
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(25, 25, 25, 0.5) 0%,
    rgba(1, 1, 1, 0.13) 100%
  );
  color: #fff;
  text-align: center;
}

.hero::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero::before {
  background-position: center;
}

.hero h1 {
  font-size: 9rem;
  font-weight: 900;
  margin-top: 190px;
}

.hero p {
  font-size: 2.2rem;
  font-weight: 400;
  margin-bottom: 360px;
}

@media screen and (max-width: 900px) {
  .hero h1 {
    font-size: 4rem;
  }

  .hero p {
    font-size: 1.55rem;
    font-weight: 500;
  }
}

/* End Hero Styles */

/* Services */

.services {
  position: relative;
}

.services__header {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #fff;
  text-align: center;
  padding: 0 4.8%;
  padding-top: 244px;
  padding-bottom: 176px;
  align-items: flex-start;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.services__header::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-position: center;
  /* background: linear-gradient(
    180deg,
    rgba(25, 25, 25, 0.5) 0%,
    rgba(1, 1, 1, 0.129) 100%
  ); */
  background-color: rgba(0, 78, 107, 0.9);
}

.services__header h2 {
  color: #fff;
  font-size: 3.2rem;
  font-weight: 600;
  z-index: 1;
}

.services__header p {
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
  text-align: start;
  z-index: 1;
}

/* End Services Styles */
