:root {
    --color--primary: #004e6b;
    --color-secondary: #282828;
    --color-background: #F0F0F0;
    --color-font: #fff;
    --cards-color: #FFF;
    --transtion: all 0.3s linear;
}

.Navbar {
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.30);
    z-index: 5;
    transition: all 0.3s;
    background-color: rgba(0, 0, 0, 0.60);
}

.Navbar::before {
    backdrop-filter: blur(8px);
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.nav-colored {
    background-color: transparent;
    backdrop-filter: blur(0);
}


.Navbar .nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 26px 64px 21px 64px;

}

.Navbar .menu1 .social {
    display: flex;
    gap: 16px;
    margin-bottom: 17px;
}

.Navbar .menu1 .social a {
    width: 20px;
    height: 20px;
}


.Navbar .menu1 .link,
.Navbar .menu2 .link {
    display: flex;
    gap: 16px;
}

.Navbar .menu1 .link a,
.Navbar .menu2 .link a {
    color: var(--color-font);
    font-size: 16px;
    position: relative;

}

.Navbar .menu1 .link a::before,
.Navbar .menu2 .link a::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    border-bottom: 1px solid var(--color-font);
    transition: all 0.2s ease-in-out;
}

.Navbar .menu1 .link a:hover:before,
.Navbar .menu2 .link a:hover:before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 75%;

}

.Navbar .menu-moblie {
    display: none;
}

.Navbar .menu2 .lang {
    display: flex;
    gap: 5px;
    margin-bottom: 17px;
    justify-content: flex-end;
    align-items: center;

}

.Navbar .menu2 .lang p {
    color: rgba(177, 173, 173, 0.68);
    font-size: 16px;
    font-weight: 500;
}

.Navbar .menu2 .lang .lang-line {
    content: "";
    border-left: 3px solid rgba(177, 173, 173, 0.68);
    height: 20px;

}
.Navbar .menu2 .lang:hover .lang-line {

    border-left: 3px solid #fff;
  

}

.Navbar .menu2 .lang p:hover {
    color: var(--color-font);

}



.Navbar .menu3 {
    position: absolute;
    top: 97%;
    left: 0;
    width: 100%;
    display: flex;
    padding-top: 13%;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    transform: translateX(100%);
    transition: all 0.5s;



}

.Navbar .menu3::before {
    content: "";
    position: absolute;
    top: 3px;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.60);
    backdrop-filter: blur(8px);
    border: none;

}

.Navbar .menu3 .link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 130px;

}

.Navbar .menu3 .link a {
    color: #D8D8D8;
    font-size: 16px;


}

.Navbar .menu3 .link a:hover,
.Navbar .menu3 .link a:focus {
    color: var(--color-font);



}

.Navbar .menu3 .social {
    display: flex;
    gap: 16px;


}


@media only screen and (max-width: 800px) {

    /* .nav-colored{
        background-color: rgba(0, 0, 0, 0.60);
        backdrop-filter: blur(0);
    }
   
    
    .Navbar::before{
        backdrop-filter: blur(8px);
    } */
     .Navbar .logo img {
        width: 93.625px;
        height: 24px;
    }
    .navborder {
        background-color: rgba(0, 0, 0, 0.60);
        border: none;
    }

    .Navbar .nav-content {
        display: flex;
        align-items: flex-end;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 28px 24px 15px 24px;
    }

    .Navbar .menu1 {
        display: none;
    }

    .Navbar .menu1 .link,
    .Navbar .menu2 .link {
        display: none;

    }

    .Navbar .menu2 .lang {
        margin-bottom: 0;
        padding-bottom: 3px;

    }

    .Navbar .menu2 .lang p {

        font-size: 12px;
    }


    .Navbar .menu2 .lang .lang-line {

        height: 11px;
    }

    .Navbar .menu1 .social {
        display: none;
    }
     .Navbar .menu3 {
        position: absolute;
        top: 96%;
    }


    .Navbar .menu3 .link {
        color: #D8D8D8;
    }

    .Navbar .keep-3 {
        font-size: 14px;
        color: var(--color-font);
        margin-bottom: 20px;
    }

    .Navbar .menu-moblie {
        display: block;
        width: max-content;
        height: max-content;
        rotate: 0;
        transition: all 0.3s ease;
        font-size: 20px;
        margin-left: 32px;
    }

    .Navbar .menu-moblie img {
        width: 100%;
        height: 100%;
    }

    .active {
        transform: translateX(0) !important;

    }

    .rotate {
        rotate: 90deg;
    }
}

@media only screen and (max-width: 550px) {
    .Navbar .logo {
        width: max-content;
        height: max-content;
    }

    .Navbar .logo img {
        width: 93.625px;
        height: 24px;
    }

   

}