* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.slider {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.slider-container {
    height: 100%;
    position: relative;

    transition: 0.7s cubic-bezier(0.19, 1, 0.22, 1)
}

.slide-img1 {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;

}

.slide-img1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.next-btn,
.prev-btn {
    background-color: rgba(0, 0, 0, 0.60);
    padding: 10px 4px;
    width: 40px;
    height: 40px;
    border-radius:  4px;

}

.next-btn img,
.prev-btn img {
    width: 10px ;
    height: 10px ;
}


.next-btn {
    position: absolute;
    top: 50%;
    left: 3%;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);

}

.prev-btn {
    position: absolute;
    top: 50%;
    right: 3%;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);


}


.dots1 {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
    width: max-content;
    display: flex;
    gap: 4px;
}


.single-dot1 {
    width: 15px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    background-color: #004E6B33;

}

.num1 {
    position: absolute;
    top: 3%;
    right: 3%;
    z-index: 4;
    width: max-content;
    display: flex;
    gap: 4px;
    color: #FFF;
   border-radius: 4px;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: rgba(0, 0, 0, 0.60);
    padding: 1px 15px;
}


.active-slider {
    background-color: #004E6B;
}



@media only screen and (max-width: 1000px) {

    .num1 {
        font-size: 15px;
    }
}

@media only screen and (max-width: 500px) {
    .next-btn,
    .prev-btn {
        background-color: rgba(0, 0, 0, 0.60);
        /* padding: 6px 3px; */
        width: 20px;
        height: 20px;
        border-radius:  4px;
    
    }
    .num1 {
        font-size: 10px;
        padding: 1px 10px;
    }
}